#container-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-mobile {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 12000px;
    background-image: url(./assets/img/backgroundmobile.jpg);
    background-size: contain;

    animation: speedup-mobile 15s;

    animation-fill-mode: forwards;

}


#ground-and-grass-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -31rem;
    height: 8100px;
    width: 60%;

    animation: speedup-mobile 15s;

    animation-fill-mode: forwards;
}


.grass-mobile {
    width: 100%;
    background-image: url(./assets/img/grass.jpg);
    background-size: 10rem;
    position: absolute;
    height: 100%;


}


.ground-mobile {
    position: absolute;
    height: 100%;
    width: 159px;
    background-image: url(./assets/img/highwaymobile.png);
    background-size: 10rem;


}

/* MOVING ROAD */


@keyframes speedup-mobile {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(300rem);
    }

}


.cars-mobile {
    position: relative;
    bottom: 0;
    display: flex;
}


#car-container-mobile {
    left: 20%;
    top: 13rem;
    position: relative;
}

#car-mobile {

    animation: shake .4s;
    animation-iteration-count: 15;
    animation-delay: 2s;
}


/* SHAKE ANIMATION */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    25% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    50% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    75% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


#car2-container-mobile {

    position: relative;
    top: 40rem;
    animation: mobilecarup 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;

}

#car2-mobile {
    height: 277px;
    animation: mobilecarleft 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 8s;
}


/* MOVING CARS ANIMATION*/
@keyframes mobilecarup {



    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-40rem);
    }


}

/* POLICE CAR SWITCHING LANES ANIMATION*/
@keyframes mobilecarleft {


    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-4.8rem);
    }

}





#chatbubble-mobile {
    position: absolute;
    height: 6rem;
    top: -1rem;
    left: 7rem;
    opacity: 0;
    animation: fadeIn .1s ease-in;
    animation-delay: 13s;
    animation-fill-mode: forwards;

}

.chatbubblepic-mobile {
    height: 100%;
    animation: fadeOut .5s;
    animation-delay: 19s;
    animation-fill-mode: forwards;
}

#text-mobile {
    position: absolute;
    top: 8px;
    ;
    left: 17px;
    font-size: 10px;
    animation: fadeOut .5s;
    animation-delay: 19s;
    animation-fill-mode: forwards;

}


#chatbubble2-mobile {
    position: absolute;
    height: 6rem;
    top: 12rem;
    left: 7rem;
    opacity: 0;
    animation: fadeIn .1s ease-in;
    animation-delay: 18.5s;
    animation-fill-mode: forwards;

}

.chatbubblepic2-mobile {
    height: 100%;
    animation: fadeOut .5s;
    animation-delay: 24s;
    animation-fill-mode: forwards;
}

#text2-mobile {
    position: absolute;
    top: 9px;
    left: 17px;
    font-size: 10px;
    animation: fadeOut .5s;
    animation-delay: 24s;
    animation-fill-mode: forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.resume-btn-mobile {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -59rem;
    animation: movingcarright .1s;
    animation-delay: 22.5s;
    animation-fill-mode: forwards;
}

.resume-btn-mobile button {
    position: absolute;
    background-image: url(./assets/img/button.png);
    background-size: contain;
    height: 6rem;
    width: 21rem;
    left: -2rem;
    top: 8rem;
    border-radius: 10px;
    animation: blink-text 1s infinite;
}

@keyframes blink-text {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width:1000px) {
    #container-mobile {
        display: flex;
    }
}