* {
    padding: 0;
    margin: 0;
    font-family: pixel;
}





@font-face {
    font-family: pixel;
    src: url(./assets/font/PressStart2P.ttf);
}


#container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: fadeOut 1s;
    animation-delay: 25s;
    animation-fill-mode: forwards;
}

.background{
    position: absolute;
    z-index: -3;
    height: 100%;
    width: 8100px;
    background-image: url(./assets/img/background.jpg);
    animation: speedup 15s;
    animation-fill-mode: forwards; 

}


#ground-and-grass-container {
    position: absolute;
    left: 0;
    bottom: -31rem;
    width: 8100px;
    height: 90%;}


    .ground{
        width: 100%;
        background-image: url(./assets/img/grass.jpg);
        background-size: 20rem;
        position: absolute;
        height: 100%;
        animation: speedup 15s;
      
        animation-fill-mode: forwards; 
    }


    .grass{
        position: absolute;
    width: 100%;
    height: 159px;
    background-image: url(./assets/img/highway.png);
    background-size: 33rem;
    animation: speedup 15s;

    animation-fill-mode: forwards; 
}

/* MOVING ROAD */


@keyframes speedup {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300rem);
    }

}
/* MOVING ROAD END */


.cars{
    position: relative;
    top: 32rem;
    display: flex;
}


    #car-container{
        left: 10%;
     
        position: relative;
    }

    #car {
      
        animation: shake .4s;
        animation-iteration-count:15;
        animation-delay: 2s;
    }

    #car2-container{
        right: 48rem;
        top: 5.8rem;
        position: relative;
        animation: movingcarright 10s;
        animation-iteration-count:1;
        animation-fill-mode: forwards; 
        animation-delay: 3s;
        
    }

    #car2{
        animation: movingcarup 5s;
        animation-iteration-count:1;
        animation-fill-mode: forwards; 
        animation-delay: 7s;
        height: 277px;
    }


    @keyframes movingcarright{
        
        

        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(62rem);
        }
    
        
    }

    @keyframes movingcarup{


        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-4.5rem);
        }  
        
    }


    /* SHAKE ANIMATION */  
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        25% { transform: translate(-1px, -2px) rotate(-1deg); }
        50% { transform: translate(1px, -1px) rotate(1deg); }
        75% { transform: translate(3px, 1px) rotate(-1deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
      /* SHAKE ANIMATION END */ 


#chatbubble{

    position: absolute;
    height: 10rem;
    top: 23rem;
    left: 52rem;
    opacity: 0;
    animation: fadeIn .1s ease-in;
    animation-delay: 13s;
    animation-fill-mode: forwards; 

}

.chatbubblepic{
    height: 100%;
    animation: fadeOut .5s;
    animation-delay: 18s;
    animation-fill-mode: forwards;
}

#text{
    position: absolute;
    top: 25px;
    left: 25px;
    animation: fadeOut .5s;
    animation-delay: 18s;
    animation-fill-mode: forwards;
}

#chatbubble2{

    position: absolute;
    height: 10rem;
    top: 25rem;
    left: 26rem;
    opacity: 0;
    animation: fadeIn .1s ease-in;
    animation-delay: 18.5s;
    animation-fill-mode: forwards; 

}

.chatbubblepic2{
    height: 100%;
    animation: fadeOut .5s;
    animation-delay: 23s;
    animation-fill-mode: forwards;
}

#text2{
    position: absolute;
    top: 25px;
    left: 25px;
    animation: fadeOut .5s;
    animation-delay: 23s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { 
      opacity:0;
    }
    to {
      opacity:1;
    }
}

@keyframes fadeOut {
    from { 
      opacity:1;
    }
    to {
      opacity:0;
    }
}